body{
    background-color: #F1F1F1!important;
    color: #000!important;
    overflow: auto;
    padding: 0!important;
}
form{padding: 0!important;}
.form-control,.filter-select{height: 50px;}

/**/
.admin-title,.section-title{font-family:'Helvetica LT Std'; }
.admin-subtitle, td{font-family:'Calibri';}
.admin-title b,.section-title b, th,.modal-title,.btn{font-family:'Helvetica LT Std Black';}
.admin-subtitle b,.form-label{font-family:'Calibri'; font-weight: bold;}

.admin-title{font-size: 35px;}
.admin-subtitle{font-size: 28px;}
.modal-title,.section-title{font-size: 30px;}
.form-label{font-size: 26px; color: #354E57;}
td,td .btn-link, a .btn-link{font-size: 20px;}
th{font-size: 18px;}

.btn{min-width: 150px; height: 50px!important; line-height: 30px!important;}
.btn:not(.btn-link){ padding-left: 52px; padding-right: 52px;}
:not(button).btn{
    padding-block: 9px;
}
.btn-primary{width: inherit;}
.btn-outline-primary{background-color: #fff!important; color: #D87C16!important; border: solid 1px #D87C16!important;}
.btn-outline-primary:hover,.btn-outline-primary:active,.btn-outline-primary:focus{background-color: #D87C16!important; color: #fff!important;}
.btn-search{min-width: unset!important; padding:0 20px!important}

td .btn-link, a .btn-link{color: #303030!important;font-family:'Calibri'; font-weight: bold;}
th,td{vertical-align: middle;}
th{background-color: #18191D!important; color: #fff!important;height: 62px!important;}
td{background-color:#fff;color: #707070!important;}

th:first-child,td:first-child{padding-left: 30px;}
th:last-child,td:last-child{padding-right: 30px;}

.modal-header.b-none,.modal-footer.b-none{border: none;}
.modal .form-label{font-size: 16px; color: #354E57;}
.modal .form-control{font-size: 14px; color: #354E57;}
.modal .btn:not(.btn-link){width: inherit;}

.input-group-text{background-color: #fff;}
.input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback){border-left: none;}


.bb-gray{border-bottom: solid 3px #d2d2d2;}


/*MAIN SITE*/
#pills-tab-cities, #pills-tab-initiatives{background-color: #272727;}
#pills-tab-cities button, #pills-tab-initiatives button{background-color: #272727; color: #D7D308; font-size: 20px; font-family: 'Calibri';}
#pills-tab-cities button.active, #pills-tab-initiatives button.active{text-decoration: underline;}
#pills-tab-banner button, #pills-tab-filters button{background-color: transparent; color: #707070; border:solid 1px #707070; border-radius: 23px; padding:11px 20px; text-decoration: none; font-size: 16px; font-family: 'Calibri';}
#pills-tab-banner button.active, #pills-tab-filters button.active{background-color: #5479FA; color: #fff;border-color: transparent;}
.banner-img,.load-img{
    object-fit: fill;
    object-position: center;
    border:solid 1px #BACAD1;
    border-radius: 0;
}
.banner-img{
    width: 100%!important;
    height: 430px;
    max-height: 430px;}
#img_home_about.banner-img{max-width: 590px;}
.banner-img.new,.load-img{
    background-color: #FFFFFF;
}
.gallery-img{object-fit: cover; object-position: center;}
.delete-img{width: 47px; height: 47px; position: absolute;z-index:10;margin: -20px;}
.gallery-img,.load-img{height: 190px;}
/*IMAGE UPLOAD*/
.load-file .file-input{
    opacity:1;
    visibility: visible;
    display: inline-block;}
.file-input {
    opacity:0;
    visibility: hidden;
    display: none;
}
input[type="file"]::-webkit-file-upload-button {
    visibility: hidden;
    display: none;
}
input[type="file"]::before{
    content: '';
    display: inline-block;
    background: transparent;
    border: none;
    border-radius: 3px;
    padding: 5px 0;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
}
input[type="file"]:hover::before {}
input[type="file"]:active::before {}
.custom-file-upload {
    border: none;
    display: inline-block;
    cursor: pointer;
}

/*ABOUT*/
#pills-tab-about{background-color: #272727;}
#pills-tab-about button{background-color: #272727; color: #D7D308; font-size: 20px; font-family: 'Calibri';}
#pills-tab-about button.active{text-decoration: underline;}

/*INITIATIVES*/
#pills-tab-initiatives{background-color: #272727;}
#pills-tab-initiatives button{background-color: #272727; color: #D7D308; font-size: 20px; font-family: 'Calibri';}
#pills-tab-initiatives button.active{text-decoration: underline;}
#pills-tab-filters button{background-color: transparent; color: #707070; border:solid 1px #707070; border-radius: 23px; padding:11px 20px; text-decoration: none; font-size: 16px; font-family: 'Calibri';}
#pills-tab-filters button.active{background-color: #5479FA; color: #fff;border-color: transparent;}

/*TASTIER LIFE*/
#pills-tab-tastierlife{background-color: #272727;}
#pills-tab-tastierlife button{background-color: #272727; color: #D7D308; font-size: 20px; font-family: 'Calibri';}
#pills-tab-tastierlife button.active{text-decoration: underline;}

/*CHANGE BETWEEN CREATE/EDIT FORMS*/
.create-form .create-form-btn{display: block!important;}
.create-form .edit-form-btn{display: none!important;}
.edit-form .create-form-btn{display: none!important;}
.edit-form .edit-form-btn{display: block!important;}
.create-form .create-modal-label{display: block!important;}
.create-form .edit-modal-label{display: none!important;}
.edit-form .create-modal-label{display: none!important;}
.edit-form .edit-modal-label{display: block!important;}