
body{background-color: #000;color:#fff;}
.min-h-100{min-height: 100vh;}
.min-h-80{min-height: 80vh;}

/*FONTS*/
@font-face {
    font-family: "Helvetica LT Std Bold Cond";
    src: url('../assets/fonts/HelveticaLTStd/HelveticaLTStd-BoldCond.otf') format("truetype");
}
@font-face {
    font-family: "Helvetica LT Std Black";
    src: url('../assets/fonts/HelveticaLTStd/HelveticaLTStd-Blk.otf') format("truetype");
}
@font-face {
    font-family: "Helvetica LT Std";
    src: url('../assets/fonts/HelveticaLTStd/HelveticaLTStd-Cond.otf') format("truetype");
}
@font-face {
    font-family: "Helvetica LT Std Roman";
    src: url('../assets/fonts/HelveticaLTStd/HelveticaLTStd-Roman.otf') format("truetype");
}
@font-face {
    font-family: "Calibri";
    src: url('../assets/fonts/Calibri/CALIBRI.TTF') format("truetype");
}

.title-lg,.title-md,.title-sm, .title-xs b, .subtitle b,.data-sm b,.nav-link-sm b, .subtitle-md b{font-family: 'Helvetica LT Std Black';}
.title-xl{font-size: 84px;font-family: 'Helvetica LT Std Bold Cond';}
.title-lg{font-size: 50px;}
.title-md{font-size: 48px;}
.title-sm{font-size: 40px;}
.title-xs,.card-title{font-size: 30px;}
.subtitle{font-size: 25px;}
.subtitle-md{font-size: 24px;}
.data{font-size: 22px;}
.data-sm{font-size: 20px;}
.nav-link-sm{font-size: 14px;}
.title-xs{font-family: 'Calibri'}
p{font-size: 17px; font: normal normal normal 17px/21px 'Calibri';font-family: 'Calibri'}
.activity{font: normal normal bold 18px/22px 'Calibri';font-family: 'Calibri'}

#newsletter .nav-link{font-family: 'Helvetica LT Std Roman'; font-size: 14px;}
#calendar .title-lg, #newsletter .title-xs,.card-title{font-family: 'Helvetica LT Std Black';}
#newsletter .title-xs{font-size: 16px;}
a .text-white{color: #fff!important;}
.text-orange,.btn-link,a .text-orange, a .text-orange:hover{color: #D87C16!important;}
.text-orange-light,a .text-orange-light, a .text-orange-light:hover{color:#FEA561;}
.text-blue{color: #5479FA;}
.text-yellow{color: #D7D308;}
.text-yellow2{color: #FFFC65;}
.text-ocean{color: #354E57;}
.text-right{text-align: right;}

.bg-orange{background-color: #D87C16;}
.bg-blue{background-color: #5479FA;}
.bg-black{background-color: #000;}
.bg-gray{background-color: #202020;}
.bg-dark-gray{background-color: #131416;}

/*LINES AND BORDERS*/
.br-9{border-radius: 9px;}
.be-gray{border-right: 1px solid #D7CCDD}
.b-gray{border: 1px solid #707070;}
.bb-orange{border-bottom: solid 1px #D87C16;}


/*BOOTSTRAP OVERRIDE--------------------------*/

/*BUTTONS*/
.btn{
    border-radius: 2px!important;
    font-size: 16px;font-family: 'Helvetica LT Std Black';
    display: inline-block;
    text-align: center;
}
.btn-link{font: normal normal bold 21px/20px 'Helvetica LT Std Black'; text-decoration: none;}

.btn-primary{width:230px;height:70px;line-height: 50px!important;}
.btn-secondary,.btn-outline-primary{width:124px;height:40px;line-height: 25px!important;}
.btn-primary,.btn-secondary,.btn-primary.inverted:hover{background-color: #D87C16!important;color: #F8F8F8!important; border-color: transparent!important; font: normal normal 900 16px/20px 'Calibri';}
.btn-primary:hover,.btn-info:hover,.btn-primary.inverted{background-color: #fff!important;color: #D87C16!important;}
.btn-secondary:hover,.btn-info{background-color: #5479FA!important;color: #fff!important;border-color: transparent!important; font: normal normal 900 16px/20px 'Calibri';}
.btn-outline-primary{background-color: transparent!important;color: #F8F8F8!important; border-color: #fff!important; font: normal normal 900 16px/20px 'Trade Gothic';}
.btn-outline-primary:hover{background-color: #fff!important;color: #D87C16!important;}
.btn-transparent,.btn-transparent:focus,.btn-transparent:active{background-color: transparent!important; border: none!important;box-shadow: none!important;}
.btn-black{background-color: #070707; color: #fff;}
.btn-black:hover,.btn-black:active,.btn-black:focus{background-color: #fff; color: #070707;}

/*NAVBAR*/
.navbar{background-color: #0D0D0D; color: #fff;height: 140px;}
.navbar-height-margin{margin-top: 140px;}
#navbarLogo{width: 287px;height: 76px;}
.nav-link{font: normal normal normal 17px/21px Helvetica LT Std;}
.nav-link:hover{text-decoration: underline; color: #FEA561;}
.nav-link:active,.active .nav-link{color: #FEA561;}
.navbar .input-group{width: 200px;}
.navbar .form-control,.navbar .input-group-text{background-color: #1D1D1D;border: none;color: #fff;}
.navbar .form-control:focus{box-shadow: 0 0 0 0.25rem rgba(35, 35, 35, 0.25);}
.nav-link-sm{text-decoration: none;}

/*CARDS*/
.card-link{text-decoration: none!important;}
.card{border: none;}
#contact-cards .card-group:nth-child(odd) .card-body{background-color: #D87C16!important;color:#fff}
#contact-cards .card-group:nth-child(even) .card-body{background-color: #5479FA!important;color:#fff}

/*ACCORDION*/
.accordion-button,.accordion-item{background-color: transparent!important; color: #fff!important;}
.accordion-button,.accordion-item,.accordion-button:focus,.accordion-button:not(.collapsed),.accordion-collapse{border: none!important;box-shadow: none;}
.accordion-button{padding: 10px 0;font: normal normal bold 35px/60px "Helvetica LT Std";}
.accordion-body{padding: 16px 0;font: normal normal normal 18px/21px "Calibri";}
.accordion-button::after,.accordion-button:not(.collapsed)::after{background-image: url('../assets/icons/expand_after.png');}

/*--------------------------*/

/*LIST GROUPS*/
/*.list-group-horizontal>.list-group-item:first-child:not(:last-child) {
    background: #5479FA 0% 0% no-repeat padding-box; 
    border:none;   
}
.list-group-horizontal>.list-group-item{
    border: 1px solid #707070;
    background-color: transparent;
    border-radius: 0px!important;
    color: #fff;
    margin: 0px 5px;
}*/

/*IMAGE BANNERS (CAROUSEL)*/
.carousel-item{    
    width: 100%;
    height: 480px;
    text-align: center;
}
.carousel-caption{font: normal normal bold 100px/60px 'Helvetica LT Std';}
.carousel-indicators{z-index: 11;}
.carousel-indicators button{opacity: 1 !important;border-radius: 100%!important; width: 12px!important; height: 12px!important; background-color: transparent!important; border: solid 1px #D87C16!important;}
.carousel-indicators .active {background-color: #D87C16!important;}
.banner-title-overlay{
    width: 100%;
    height: 480px;
    text-align: center; 
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 8rem;
    z-index: 10;
}
#show_city .banner-title-overlay{margin-top: 80px;}
#num_stats .banner-title-overlay{position: relative!important;}
#num_stats .banner-title{
    background-repeat: no-repeat!important;
    background-position: center!important;
    background-size: cover!important;
    width: 100%;
    height: 480px;
    text-align: center;   
    padding: 0;   
}
#num_stats .banner-img-overlay{
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    padding: var(--bs-card-img-overlay-padding);
}
:not(#num_stats)>.banner-title .title-lg{font: normal normal bold 100px/60px 'Helvetica LT Std';}

#num_stats>.banner-title{
   background: url('../assets/img/Home/Container-benefit.png');
}

/*MAP*/
#map #Capa_1{position: absolute;z-index: 12;}
.pin{z-index: 14;width: 12px;height: 14.16px;position: absolute;filter: invert(99%) sepia(13%) saturate(0%) hue-rotate(259deg) brightness(113%) contrast(100%);}
.pin:hover{
    cursor: pointer;
    transform: scale(1.2); 
     /*filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);*/
   filter: invert(40%) sepia(87%) saturate(1959%) hue-rotate(212deg) brightness(98%) contrast(99%);
}
.map-title-overlay{
    position: absolute;
    top: 250px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;  
    padding: 1rem;
    width: 100%;
    text-align: center;   
}
#map-card{
    position: absolute;
    top: 40%;
    z-index: 15;  
    width: 100%;
    text-align: center;   
}
#map-card .card-header{background-color: transparent!important; height: 100px; text-align: right;z-index: 10;}
#map-card .card{background-color: rgba(218, 126, 22, 0.761)!important; color:#fff;border-radius: 25px;}
#map-card .card-img-top{margin-top: -100px; border-radius: 25px 25px 0 0;}
#map-card .card-body{text-align: left;}

#mapModal .modal-header{background-color: transparent!important; height: 100px; text-align: right;z-index: 10;border: none;justify-content: flex-end;}
#mapModal .card-img-top{margin-top: -100px; border-radius: 25px 25px 0 0;}
#mapModal .modal-content{background-color: rgba(218, 126, 22, 0.761)!important; color:#fff;border-radius: 25px;}
#mapModal .modal-footer{border: none; justify-content: flex-start;}
.map-footer{
    padding: 1rem;
    text-align: center;
    margin-top: -140px!important;
    margin-left: 7vw!important;
}


/*ABOUT - TIMELINE*/
.timeline-item{height: 67px;}
.timeline-col{border: 1px solid #707070;height: 100%; display: flex; align-items: center;}
.timeline-title{font: normal normal normal 26px/31px "Helvetica LT Std";}
.timeline-date{font: normal normal normal 22px/26px "Helvetica LT Std";}
#timeline-list .bl-blue{border-left: 20px solid #5479FA;}
#timeline-list .bl-orange{border-left: 20px solid #FEA561;}
#timeline-list .bl-yellow{border-left: 20px solid #D7D308;}
/*.timeline-item >.timeline-col:nth-child(1){}*/

/*NEWSLETTER*/
#newsletter{background-color: #CE663C; color: #fff;}
    #newsletter .form-control{background-color: transparent; border-radius: 0;height: 40px; color: #fff;}
#newsletter ::placeholder{color: #fff;}

/*FOOTER*/
footer{font-size:17px;font-family: 'Helvetica LT Std Roman';background-color: #131416; color: #fff;}
footer a{color: #fff;}


/*FILTER SELECTS*/
 .filters select.form-control {
    height: 60px; background-color: transparent!important; border-radius: 0!important;
    color: #FEA561!important; border: solid 1px #FEA561!important;}
 .filters select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    background-image: url("../assets/icons/menu-down-custom.png");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 10px;
    border: 1px solid #dfdfdf;
    border-radius: 2px;
    margin-right: 2rem;
    padding: 1rem;
    padding-right: 2rem;
  }
  .filters select.form-control, .filters button{font-family: 'Helvetica LT Std Black';font-size: 20px;}
  .filters button{width: 210px;}


/*SHARE BUTTONS ON HIGHLIGHT----------------*/
#share-btns {
    color: #56b8f5;
    background-color: #0D0D0D;
    cursor: pointer;
    border: 2px solid #56b8f5;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    display: none;
    transition: color 0.2s, background-color 0.2s ease-in-out;
  }
  #linkedin-share-btn,#facebook-share-btn,#twitter-share-btn{
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.25rem;
    color: #fff;
    background-color: #5479FA;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    display: none;
    transition: color 0.2s, background-color 0.2s ease-in-out;
  }
  #linkedin-share-btn:hover,#facebook-share-btn:hover,#twitter-share-btn:hover{
    color: #fff;
    background-color: #CE663C;
  }
  #twitter-share-btn img {
    pointer-events: none;
  }
  .btnEntrance {
    animation-duration: 0.2s;
    animation-fill-mode: both;
    animation-name: btnEntrance;
  }
  @keyframes btnEntrance { /* zoomIn */
    0% {
      opacity: 0;
      transform: scale3d(0.3, 0.3, 0.3);
    }
    100% {
      opacity: 1;
    }    
  }
/*------------------------------------*/

@media screen and (min-width: 1536px){
.container{
    max-width: 100rem !important;
}
}
@media (min-width: 1420px){
    .nav-item {
        padding-right: 1rem!important;
        padding-left: 1rem!important;
    }
}
@media screen and (min-width: 1190px) and (max-width:1269px){
    #navbarLogo{width: 250px!important;height: 66px!important;}
}
@media screen and (min-width: 992px) and (max-width:1189px){
    #navbarLogo{width: 150px!important;height: 39px!important;}
}
@media (min-width: 992px){
    .g-5 .col-lg-auto{
        flex: 0 0 auto!important;
        width: 20%!important;
    }
}
@media (max-width: 991px){
    #map-card,#map_button{display: none!important;visibility: hidden!important;}
    #map:hover{cursor: pointer;}
    .pin{z-index: 8;} .pin:hover{filter: unset;}
}
@media (max-width: 767px){
    footer p{text-align: center!important;}
    footer .offset-3{margin-left: auto!important;}

   /* footer .col-auto{margin-left: auto!important;margin-right: auto!important;}*/
}